body{
    font-family: ‘cwTeXFangSong’, serif;
    color: #333333;
    padding: 0;
    margin: 0;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 2px;
    font-size: 14px;
}
h3{
    margin: 0;
    padding: 5px 0;
}
p,span{
margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}
a{
    color: #333333;
    text-decoration: none;
}
button{
    cursor:pointer;
    font-family: ‘cwTeXFangSong’, serif;
    font-weight: 300;
    letter-spacing: 1px;  
    font-size: 16px;
    border:none;
    background-color: #00000000;
    padding: 0px;
}


input:focus, textarea:focus,button:focus {
    outline: none;
}
input::-ms-clear {
    display: none;    
}
textarea {    
    resize: none;    
}
form select{  
    appearance:none;  
    -moz-appearance:none;   
    -webkit-appearance:none;    
} 
option{
    text-align: center;
}



.usetime{
    width: 160px;
    float: left;
    border-right: #e6e6e6 1px solid;
    position: absolute;
    padding: 16px 0px 30px;
    text-align: center;
}
.select_time{
    cursor:pointer;
    opacity: 0;
    position: absolute;
    height: 70px;
    width: 160px;
}

.right{
    float: right;
}
.gojoin{
    float: left;
    width: 100px;
    border-left: #e6e6e6 1px solid;
    text-align: center;
}

.right a{
    display: block;
    padding: 16px 0px 30px;
}
.poly{
    position: absolute;
}
.user{
    float: left;
    width: 160px;
    border-left: #e6e6e6 1px solid;
    text-align: center;
}

.clearfix{
    clear: both;
}
.search_room{

    border: #a3a3a3 1px solid;
    border-radius: 3px;
    width: 800px;
    margin: 35vh auto 0vh;
    position: relative;
}
.search_icon{
    position: absolute;
}
.input_search{
    border: none;
    width: 730px;
    position: relative;
    background-color: #ffffff00;
    padding-left: 40px;
    height: 38px;
    font-family: ‘cwTeXFangSong’, serif;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 2px;
    font-size: 12px;
}
.input_search:focus{
    border:1px #04d1b2 dashed;
    border-radius: 3px;
    margin: 2px ;
    height: 34px;
    width: 726px;
}
.search_button{
    cursor:pointer;
    top:-1px;
    position: absolute;
    height: 40px;
    width: 71px;   
    background-color: #04d1b2;
    border: #04d1b2 1px solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
}
.time_year{
    position: relative;
    margin: 20vh auto 20px ;
    text-align: center;
    font-size: 32px;
}
.year{
    position: absolute;
    width: 100vw;
}
.select_year{
    cursor:pointer;
    opacity: 0;
    height: 40px;
    width: 160px;
    position: relative;

}
.act_month{
    max-width: 1400px;
    min-width: 890px;
    width: 74vw;
    margin: 0px auto;
}
.act_month div{
    float: left;
}
.act_month .v_ation{
    font-size: 28px;
    padding-top:5px;
    position: absolute;
}
.month{
    width:72vw;
    min-width: 853px;
    margin: 0px auto 50px;
    max-width: 1380px;
    height: 84px;

}
.month_1{
    background: -webkit-linear-gradient(bottom,#04d1afc9,#04d1af52,#04d1af1f,#ffffff00);
    background: -o-linear-gradient(bottom,#04d1afc9,#04d1af52,#04d1af1f,#ffffff00);
    background: -moz-linear-gradient(bottom,#04d1afc9,#04d1af52,#04d1af1f,#ffffff00);
    background: linear-gradient(bottom,#04d1afc9,#04d1af52,#04d1af1f,#ffffff00);
}
.month div{
    float: left;
    font-size: 20px;
    max-width: 113px;
    width: 5.9vw;
    min-width: 70px;
    border-right: #04d1b2 1px solid;
    transform:skewX(-20deg);
    text-align: center;
}
.month a{
    display: block;
    padding: 20px 0px;
}
.month span{
    display: block;
    transform:skewX(20deg);
}
.month div:first-of-type{
    border-left: #04d1b2 1px solid;
}

.act_type{
    height: 50px;
    max-width: 1600px;
    min-width: 890px;
    width: 90vw;
    margin: 0px auto;
    border-bottom: #e6e6e6 1px solid;
    margin-bottom: 20px;
}

.type_li{
    display: table-cell;
    padding: 13px 20px;
}
.type_li_1{
    border-bottom: #04d1b2 2px solid;
    display: table-cell;
    padding: 13px 20px;
}
.type_button{
    color: #a3a3a3;
}
.type_button_1{
    cursor:default;
    color: #333333;
    font-weight: 500;
}
.work{
    max-width: 1600px;
    min-width: 890px;
    width: 90vw;
    margin: 0px auto;
}
.action_work{
    max-width: 520px;
    min-width: 280px;
    width: 32%;
    float: left;
    margin: 0 0.6666% 30px;
    position: relative;
}
.time_work{
    color: #a3a3a3;
    padding-left: 30px;
    
}
.act_title{
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    height: 73px;
}
.cass{
    max-width: 520px;
    max-height: 420px;
    min-width: 280px;
    min-height:210px; 
    width: 100%;
    height: 20vw;
    padding-bottom: 10px;
    border-bottom: #e6e6e6 1px solid;
    margin-bottom: 10px;
}
.img{
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    height: 100%;
    border-radius: 2px;

}
.people_num{
    height: 25px;
    width: 100%;
    border-radius: 2px;
    background-color: #04d1afa2;
    border-bottom: #04d1b2 3px solid;
    border-top: #04d1b2 1px solid;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: 100;  
    font-size: 16px;
}
.people_add{
    float: left;
}
.people_num div{
    color: white;
    font-weight: 500;   
    font-size: 16px;
    margin-top: 2px;
    padding-right: 20px;
    float: left
}

.people_all{
    float: right;
}
.people_all span{
    float: left;
}
.info{
    cursor:pointer;
    opacity: 0;
    top: 0;
    position: absolute;
    background-color: #00000069;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20%;
    box-sizing: border-box;
}
.info button{
    opacity: 1;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border:  #04d1b2 1px solid;
    padding: 5px 30px;
    background-color: #04d1afad;
}
.info svg{
    display: block;
    margin: 0 auto;
}
.info:hover{
    opacity: 1;
}
.month_s:hover,.gojoin:hover,.user:hover,.type_li:hover{
    background: -webkit-linear-gradient(bottom,#f4f4f4,#ffffff00);
    background: -o-linear-gradient(bottom,#f4f4f4,#ffffff00);
    background: -moz-linear-gradient(bottom,#f4f4f4,#ffffff00);
    background: linear-gradient(bottom,#f4f4f4,#ffffff00);
}
