body{
    font-family: ‘cwTeXFangSong’, serif;
    color: #333333;
    padding: 0;
    margin: 0;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 2px;
    font-size: 14px;
}
p{
margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}
a{
    color: #333333;
    text-decoration: none;
}
button{
    font-family: ‘cwTeXFangSong’, serif;
    font-weight: 300;
    letter-spacing: 1px;  
    font-size: 14px;
    border:none;
    background-color: #00000000;
}


input:focus, textarea:focus,button:focus {
    outline: none;
}
input::-ms-clear {
    display: none;    
}
textarea {    
    resize: none;    
}
form select{  
    appearance:none;  
    -moz-appearance:none;   
    -webkit-appearance:none;    
} 
option{
    text-align: center;
}



.usetime{
    width: 160px;
    float: left;
    border-right: #e6e6e6 1px solid;
    position: absolute;
    padding: 16px 0px 30px;
    text-align: center;
}
.select_time{
    cursor:pointer;
    opacity: 0;
    position: absolute;
    height: 70px;
    width: 160px;
}

.right{
    float: right;
}
.gojoin{
    float: left;
    width: 100px;
    border-left: #e6e6e6 1px solid;
    text-align: center;
}

.right a{
    display: block;
    padding: 16px 0px 30px;
}
.poly{
    position: absolute;
}
.user{
    float: left;
    width: 160px;
    border-left: #e6e6e6 1px solid;
    text-align: center;
}

.clearfix{
    clear: both;
}
.search_room{

    border: #a3a3a3 1px solid;
    border-radius: 3px;
    width: 800px;
    margin: 35vh auto 0vh;
    position: relative;
}
.search_icon{
    position: absolute;
}
.input_search{
    border: none;
    width: 730px;
    position: relative;
    background-color: #ffffff00;
    padding-left: 40px;
    height: 38px;
    font-family: ‘cwTeXFangSong’, serif;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 2px;
    font-size: 12px;
}
.input_search:focus{
    border:1px #04d1b2 dashed;
    border-radius: 3px;
    margin: 2px ;
    height: 34px;
    width: 726px;
}
.search_button{
    cursor:pointer;
    top:-1px;
    position: absolute;
    height: 40px;
    width: 71px;   
    background-color: #04d1b2;
    border: #04d1b2 1px solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
}
.time_year{
    position: relative;
    margin: 20vh auto 10px ;
    text-align: center;
    font-size: 32px;
}
.year{
    position: absolute;
    width: 100vw;
}
.select_year{
    cursor:pointer;
    opacity: 0;
    height: 40px;
    width: 160px;
    position: relative;

}
.act_month {
    max-width: 1400px;
    min-width: 890px;
    width: 74vw;
    margin: 0px auto;
}
.act_month div{
    float: left;
}
.act_month .v_ation{
    font-size: 28px;
    padding-top:5px;
    position: absolute;
}
.month{
    width:72vw;
    min-width: 853px;
    margin: 0px auto;
    max-width: 1380px;
}
.month div{
    float: left;
    font-size: 20px;
    max-width: 113px;
    width: 5.9vw;
    min-width: 70px;
    border-right: #04d1b2 1px solid;
    transform:skewX(-20deg);
    text-align: center;
}
.month a{
    display: block;
    padding: 20px 0px;
}
.month span{
    display: block;
    transform:skewX(20deg);
}
.month div:first-of-type{
    border-left: #04d1b2 1px solid;
}


.month div:hover,.gojoin:hover,.user:hover{
    background: -webkit-linear-gradient(bottom,#f4f4f4,#ffffff00);
    background: -o-linear-gradient(bottom,#f4f4f4,#ffffff00);
    background: -moz-linear-gradient(bottom,#f4f4f4,#ffffff00);
    background: linear-gradient(bottom,#f4f4f4,#ffffff00);
}